nav {
	ul {
		display: flex;
		justify-content: flex-start;
		list-style: none;
		padding:0;

		li {
			margin-right:.5em;

			a {
				padding: .5em 1em;
				background:#ffffff;
				@include gradient(#fff,#eee);
				border-radius: 5px;
				@include shadow();
				&:hover {
				background: $color-link-background-hover;
				background:#333;
				@include gradient(#eeeeee,#333333);
				}
			}
		}
	}

}