@mixin shadow() {
	box-shadow: 2px 2px 5px rgba(0,0,0,0.8);
}

@mixin gradient($color-to,$color-from) {
	background: -webkit-linear-gradient($color-to,$color-from);
	background: linear-gradient($color-to,$color-from);
}