//  Variables

$color-link: red;
$color-link-hover: crimson;

$color-background: #eeeeee;
$color-background-container: #ffffff;

$container-width: 960px;

// Breakpoints

$breakpoint-3:                48em; // 768px / 16px
$breakpoint-2:                36em; // 576px / 16px
$breakpoint-1:                24em; // 384px / 16px